<template>
  <div class="favourites">

    <h2 class="text-xl mt-0 my-10">Your favourite Jokes</h2>

    <div v-if="!favouriteJokes.length" class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex flex-wrap items-center dark:bg-gray-900 mb-10 w-full">
      <h2 class="text-7xl text-center w-full mb-5">😭</h2>
      <p class="text-center w-full mb-5">You have no favourite jokes!</p>
      <p class="text-center w-full">Go get some:<router-link class="mx-2 transition-all duration-300 underline hover:text-green-600" to="/">Home</router-link></p>
    </div>

    <ul v-else>
      <li v-for="joke in favouriteJokes" :key="joke.id" class="mb-10 flex">
        <Joke :jokeObject="joke" >
          <template v-slot:button>
            <a name="button" href="#" class="flex-1 text-right text-sm mt-6 text-gray-400 hover:text-gray-300 transition-all duration-200" @click.prevent="removeJokeFromFavourite(joke)">Delete <span>🗑</span></a>
          </template>
        </Joke>
      </li>
    </ul>

    <div v-if="favouriteJokes.length">
      <hr class="mb-10 border-gray-500" />

      <button
          class="button bg-red-300 p-4 rounded-lg shadow-xl text-red-800 mx-auto max-w-sm w-full disabled:opacity-50 dark:bg-red-600 dark:text-white"
          @click="clearJokes">
        Remove all favourites?!
      </button>
    </div>

  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import Joke from '@/components/Joke.vue'

  export default {
    components: { Joke },
    computed: {
      /*
      * Spread in getters from store and assign our getter to 'allJokes' as a computed property
      * This is used above for the v-for
      */
      ...mapGetters({ favouriteJokes: 'getFavouriteJokes' })
      // below is how it's usually done without the help of Vuex helper
      // favouriteJokes () {
      //   return this.$store.getters.getAllJokes
      // }
    },
    methods: {
      ...mapActions({ clearJokes: 'clearCurrentJokes' }),
      ...mapActions([ 'removeJokeFromFavourite' ])
    }
  }
</script>
