<template>
  <div class="home">

    <h2 class="text-xl mt-0 my-10">Here's a joke...</h2>

    <Joke :jokeObject="joke" :isLoading="loading" >
      <template v-slot:button>
        <div class="flex-1 text-right text-sm mt-10 mb-0">
          <a href="#" class="flex-1 text-right text-sm text-gray-400 hover:text-gray-300 transition-all duration-200" @click.prevent="saveJokeAsFavourite(joke)">
            Favourite this & load a new Joke
            <span>⭐️</span>
          </a>
        </div>
      </template>
    </Joke>

    <button
        class="button bg-green-300 p-4 rounded-lg shadow-xl mt-10 text-green-800 mx-auto max-w-sm w-full disabled:opacity-50 dark:bg-green-600 dark:text-white"
        :disabled="loading"
        @click="addJoke">
      Give me another
    </button>

  </div>
</template>

<script>
// @ is an alias to /src
import Joke from '@/components/Joke.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Home',
  components: {
    Joke
  },
  computed: {
    ...mapGetters({
      joke: 'getCurrentJoke',
      loading: 'getLoadingState'
    })
  },
  methods: {
    ...mapActions({ addJoke: 'loadNewJoke' }),
    ...mapActions([ 'saveJokeAsFavourite' ]),
  }
}
</script>
