<template>
  <div class="notFound">

    <h2 class="text-xl mt-0 my-10">Here's the thing, you've typed something wrong in the URL</h2>

    <router-link class="button bg-green-300 p-4 rounded-lg shadow-xl mt-10 text-green-800 max-w-md mx-auto disabled:opacity-50 dark:bg-green-600 dark:text-gray-900"
                 to="/">Take me to a joke</router-link>

  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'NotFound'
}
</script>
