<template>
  <div
    class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex flex-wrap items-center text-left dark:bg-gray-900">
      <h4 v-if="isLoading" class="mb-10">Grabbing a joke...</h4>
      <h4 v-else>{{ jokeObject.joke }}</h4>

      <!-- Only rendered when the button is passed in with named slot -->
      <slot name="button"></slot>
  </div>
</template>

<script>
  export default {
    name: 'Joke',
    props: {
      jokeObject: {
        type: Object,
        required: true
      },
      isLoading: {
        type: Boolean,
        required: false
      }
    },
  }
</script>
