<template>
  <main class="flex flex-col text-center h-screen">

    <header class="bg-white w-screen dark:bg-gray-800 border-b border-gray-200 dark:border-gray-600">
      <div class="max-w-7xl mx-auto p-4">
        <div class="flex justify-between items-center">

          <div class="p-2 w-20 h-20 text-5xl rounded-full shadow flex items-center justify-center dark:bg-gray-600">🙄</div>

          <h1 class="text-4xl text-gray-600 dark:text-gray-100 ml-4 mr-auto hidden md:block">Dad Jokes</h1>

          <nav>
            <router-link
              class="mx-2 transition-all duration-300 dark:text-gray-400 menuItem-active-link"
              to="/">Home</router-link>

            <router-link class="mx-2 transition-all duration-300 dark:text-gray-400 menuItem-active-link" to="/favourites">Favourite Jokes</router-link>
          </nav>

        </div>
      </div>
    </header>

    <router-view class="w-100 max-w-2xl mx-5 mt-10 mb-20 sm:mx-auto flex flex-col justify-center"/>

    <footer class="text-xs mt-auto mb-0 px-3 py-5 text-gray-400 bg-white w-screen dark:bg-gray-800 border-t border-gray-200 dark:border-gray-600 sm:flex justify-center gap-10 md:py-7">
      <p class="mb-3 md:m-0">Developed by <a rel="noreferrer noopener" href="https://www.scriptedpixels.co.uk" target="_blank" class="underline">Scripted Pixels</a></p>
      <p class="mb-3 md:m-0">Made with <a rel="noreferrer noopener" href="https://vuejs.org" class="underline" target="_blank">Vue</a>, <a rel="noreferrer noopener" href="https://vuex.vuejs.org" class="underline" target="_blank">Vuex</a> and <a rel="noreferrer noopener" href="https://router.vuejs.org/" class="underline" target="_blank">Vue-router</a>.</p>
      <p class="mb-0 md:m-0">Code on <a rel="noreferrer noopener" href="https://bitbucket.org/KamBanwait/dad-jokez/src/master/" class="underline" target="_blank">Bit Bucket</a>.</p>
    </footer>

  </main>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    methods: {
      ...mapActions(['loadNewJoke'])
    },
    mounted () {
      this.loadNewJoke()
    }
  }
</script>

<style lang="postcss">
  html {
    min-height: 100%;
  }

  body {
    @apply text-base bg-gray-100 dark:bg-gray-700 dark:text-white;
    min-height: 100vh;
  }

  #app {
    @apply h-full;
  }

  .router-link-exact-active.menuItem-active-link {
    text-decoration: underline;
    @apply text-green-500;
  }

  .menuItem-active-link:hover {
    @apply dark:text-green-600;
  }

</style>